.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-start {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin: 0.5rem 1rem 0.5rem 16rem;
}

.large-font-size {
  font-size: 1.2rem;
}
