/* Styles for Playlists */

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-start {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin: 0.5rem 1rem 0.5rem 16rem;
}

.large-font-size {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.playlist-card {
  height: 14rem;
}

.no-link-decoration {
  text-decoration: none;
  color: var(--text-color);
}

.video-count-container {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 25%;
  opacity: 0.85;
}

.playlist-title {
  align-items: center;
  height: 35%;
}

.error-color {
  color: var(--error-color);
}

/* Styles for Single Playlist */

.margin-container {
  margin: 0.5rem 1rem 0.5rem 17rem;
}
.no-playlist-container {
  margin-top: 6%;
}
.inline-flex-center {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.btn-primary {
  background-color: red;
  color: var(--bg-color);
  font-weight: 700;
}
/* styles for common video card */

.delete-icon {
  color: var(--error-color);
  cursor: pointer;
}
